[submodule "objects"]
	path = objects
	url = https://github.com/OpenRCT2/objects
[submodule "Blender-RCT-Graphics"]
	path = Blender-RCT-Graphics
	url = https://github.com/Peetz0r/Blender-RCT-Graphics/
